<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.idthk.wristband.ui"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!-- android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" -->
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".ScrollPagerMain"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
                  android:configChanges="orientation|screenSize"/>
    <activity android:name=".FragmentPreferences"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<activity android:name=".InstructionActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<activity android:name=".UserPreferencesActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<activity android:name=".MyPreference"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<activity android:name=".LandscapeActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<activity android:name="com.idthk.wristband.socialnetwork.FacebookShareActivity"
                  android:label="@string/facebook_activity_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<activity android:name="com.idthk.wristband.socialnetwork.TwitterShareActivity"
                  android:label="@string/twitter_activity_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<activity android:name=".SimpleGraph"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="orientation|screenSize"/>
	<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"></activity>
    </application>
</manifest>